/* Container for centering the text */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 160px);
  justify-content: center;
  gap: 16px;
}

/* Grid layout for the second section */
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
}

/* Image styling */
.image-container {
  text-align: center;
}

.about-image {
  max-width: 90%;
  border-radius: 10px;
  height: 100%;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Common animation for text */
.fade-in-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

/* Delays for each text */
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}
.delay-4 {
  animation-delay: 0.8s;
}
.delay-5 {
  animation-delay: 1s;
} /* Image */
.delay-6 {
  animation-delay: 1s;
}
.delay-7 {
  animation-delay: 1.2s;
}
.delay-8 {
  animation-delay: 1.4s;
}
